packages/model/src/standard/elements/*.ts linguist-generated=true
packages/types/src/clusters/* linguist-generated=true
packages/types/src/globals/* linguist-generated=true
packages/node/src/tags/* linguist-generated=true
packages/node/src/endpoints/* linguist-generated=true
packages/node/src/devices/* linguist-generated=true
packages/node/src/behaviors/*/index.ts linguist-generated=true
packages/node/src/behaviors/*/*Behavior.ts linguist-generated=true
packages/node/src/behaviors/*/*Interface.ts linguist-generated=true
packages/main/src/forwards/* linguist-generated=true
packages/matter.js/src/forwards/* linguist-generated=true
