**/dist/**
**/build/**
models/src/chip.ts
models/src/spec.ts
packages/matter.js/src/model/standard/elements/*
packages/matter.js/src/cluster/definitions/*
packages/matter.js/src/endpoint/definitions/*
packages/matter.js/src/behavior/definitions/*/export.ts
packages/matter.js/src/behavior/definitions/*/*Behavior.ts
packages/matter.js/src/behavior/definitions/*/*Interface.ts
