**/node_modules/**/*
**/dist/**/*
**/build/**/*
tools/links/**
models/links/**
models/spec.ts
models/chip.ts
packages/matter.js/src/cluster/definitions/*.ts
packages/matter.js/src/model/elements/Globals.ts
packages/matter.js/src/model/standard/elements/*.ts
