**/dist/**
**/build/**
**/forwards/**
models/src/chip.ts
models/src/spec.ts
packages/model/src/standard/elements/*
packages/types/src/clusters/*
packages/types/src/globals/*
packages/node/src/tags/*
packages/node/src/endpoints/*
packages/node/src/devices/*
packages/node/src/behaviors/*/index.ts
packages/node/src/behaviors/*/*Behavior.ts
packages/node/src/behaviors/*/*Interface.ts
